.register-view{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 40%;
    height: 40%;
    margin-top: 8em;
}

form > input {
    padding-left: 0.5em;
    margin: 0 1em 1em 1em;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #647984;
    border-radius: 2em;
    /* font */
    color: #647984;
    line-height: 2.5em;
    font-size: 1em;
}