body {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
}

.container {
    margin: 0;
    max-width: unset;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: inherit;
    overflow: auto;
    scroll-margin-right: unset;
    background: transparent linear-gradient(180deg, #D9E1E1 0%, #A3B5B5 100%) 0% 0% no-repeat padding-box;
}

.top{
    max-width: 100%;
    align-items: center;
    flex-direction: row;
    position: fixed;
}

.btn-z{
    position: fixed;
    align-items: center;
    flex-direction: column;
    top: 1.25em;
    right: 2em;
}

.btn-p{
    position: fixed;
    align-items: center;
    flex-direction: column;
    top: 0.45em;
    right: 13em;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form > button {
    padding-left: 0.5em;
    margin: 0 1em 1em 1em;
    background: #647984 0% 0% no-repeat padding-box;
    border: 2px solid #647984;
    border-radius: 2em;
    /* font */
    color: #FFFFFF;
    line-height: 2.5em;
    font-size: 1em;
}


.checking{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
}

.loggeduser {
    position: fixed;
    align-items: center;
    flex-direction: column;
    top: 2em;
    right: 20em;
    color: white;
    text-align: center;
    margin-bottom: 0.4em;
}
