

.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    margin-top: 19em;
}

.choice {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 2em;
    padding-right: 2em;
}

.strip{
    display: flex;
    overflow: hidden;
    flex-direction: row;
    width: inherit;
    max-height: 30em;
    position: static;
}

.stack-middle{
    z-index: auto;
    margin-top: 35em;
}

.stack-top{
    z-index: auto;
    margin-top: 0em;
}



