.strip{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    position: absolute;
    overflow: hidden;
}

.logging-img{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 35%;
    height: 35%;
    margin-top: 6em;
}

.logging-view{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 40%;
    height: 40%;
    margin-top: 15em;
}

.register-view{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 40%;
    height: 40%;
    margin-top: 8em;
}

.go-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.text{
    margin-top: 1em;
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
}

.messages {
    color: white;
    text-align: center;
    margin-bottom: 0.4em;
}

form > input {
    padding-left: 0.5em;
    margin: 0 1em 1em 1em;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #647984;
    border-radius: 2em;
    /* font */
    color: #647984;
    line-height: 2.5em;
    font-size: 1em;
}


