.news-list{
    align-content: center;
    align-items: center;
    flex-direction: row;
}

.text{
    align-content: flex-start;
    margin-top: 2em;
    margin-bottom: 2em;
}

.news{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.strip{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
}