.searchingbox{
    display: flex;
    flex-direction: row;
    margin-top: 7em;
    margin-bottom: 1em;
}

.result{
    display: flex;
    flex-direction: column;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #647984;
    border-radius: 2em;
    /* font */
    color: #647984;
    line-height: 2.5em;
    font-size: 1em;
    align-content: center;
}
.result > img {
    margin: 3px;
}

.resutsbox{
    display: flex;
    margin-top: 7em;
    flex-direction: column;
    width: 60em;
}



.btn-wys{
    display: flex;
    flex-direction: column;

}

.list{
    display: flex;
    margin-left: 10px;
}


select > input{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #647984;
    border-radius: 2em;

    /* font */
    color: #647984;
    line-height: 2.5em;
    font-size: 1em;
    align-content: center;

}


select {
    appearance: none;
    outline: 0;
    background: #FFFFFF;
    background-image: none;
    width: 100%;
    height: 100%;
    color: black;
    cursor: pointer;
    border:2px solid #647984;
    border-radius:10px;
}
.select {
    position: relative;
    display: block;
    width: 15em;
    height: 2em;
    line-height: 3;
    overflow: hidden;
    border-radius: .25em;
    padding-bottom:10px;

}
h1 {
    color:#FFFFFF;
}