.container {
    margin: 0;
    max-width: unset;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: inherit;
    overflow: auto;
    scroll-margin-right: unset;
    background: transparent linear-gradient(180deg, #A3B5B5 0%, #647984 100%) 0% 0% no-repeat padding-box;
}

body {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
}