<head>
    <meta charset="UTF-8">
    <link rel="Stylesheet" type="text/css" href="../CSSs/applicationcss.css" />
    <link rel="Stylesheet" type="text/css" href="../CSSs/background.css" />
    <title>Home</title>
</head>
<body>
<div class="container">

    <div class="top">
        <img src="../img/top.svg">
        <div class="btn-z">
            <img src="../img/zalSie.svg">
        </div>
    </div>
    <div class="register-view">
        <img src="../img/daneuczestika.svg">
        <form>
            <input name="imie" type="text" placeholder="Imię">
            <input name="nazwisko" type="text" placeholder="Nazwisko">
            <img src="../img/adres.svg">
            <input name="ulica" type="text" placeholder="Ulica">
            <input name="kodpocztowy" type="text" placeholder="Kod pocztowy">
            <input name="miejscowosc" type="text" placeholder="Miejscowość">

        </form>

    </div>

    <div class="register-view">
        <img src="../img/nic.svg">
        <form>
            <input name="pesel" type="text" placeholder="Pesel">
            <input name="data urodzenia" type="text" placeholder="Data urodzenia">
            <input name="nrtel" type="text" placeholder="Numer telefonu opiekuna">

            <div class="checking">
                <input name="chceck" type="checkbox"> regulamin

            </div>
            <div class="checking">
                <input name="chceck" type="checkbox"> dane osobowe
            </div>

            <img src="../img/go.svg">
        </form>

    </div>


</div>
</body>
</html>