<head>
    <meta charset="UTF-8">
    <link rel="Stylesheet" type="text/css" href="../CSSs/homecss.css" />
    <link rel="Stylesheet" type="text/css" href="../CSSs/background.css" />
    <title>Home</title>
</head>
<body>
<div class="container">

    <div class="top">
        <img src="../img/top.svg">
        <div class="btn-z">
            <img src="../img/zalSie.svg">
        </div>
    </div>

    <div class="strip">
        <img src="../img/zdj.svg">
    </div>

    <div class="menu">
        <div class="choice">
            <img src="../img/zarTur.svg">
        </div>
        <div class="choice">
            <img src="../img/aktual.svg">
        </div>
        <div class="choice">
            <img src="../img/info.svg">
        </div>
    </div>

</div>
</body>
</html>