<head>
    <meta charset="UTF-8">
    <link rel="Stylesheet" type="text/css" href="../CSSs/background.css" />
    <link rel="Stylesheet" type="text/css" href="../CSSs/loggingcss.css" />
    <title>Logowanie</title>
</head>
<body>
<div class="container">

    <div class="top">
        <img src="../img/top.svg">
        <div class="btn-z">
            <img src="../img/zalSie.svg">
        </div>
    </div>

    <div class="logging-img">
        <img src="../img/human.svg">
    </div>

    <div class="logging-view">
        <form>
            <input name="email" type="text" placeholder="Adres e-mail">
            <input name="password" type="password" placeholder="Hasło">
            <img src="../img/go.svg">
        </form>

        <div class="text">
            <img src="../img/nmk.svg">
            <img src="../img/zarSie.svg">

        </div>
    </div>


</div>
</body>
</html>