<head>
    <meta charset="UTF-8">
    <link rel="Stylesheet" type="text/css" href="../CSSs/background.css" />
    <link rel="Stylesheet" type="text/css" href="../CSSs/newscss.css" />
    <title>Aktualności</title>
</head>
<body>
<div class="container">

    <div class="strip">
        <img src="../img/top.svg">
    </div>

    <div class="news-list">
        <div class="text">
            <img src="../img/aktualnosci.svg">
        </div>
        <div class="news">
            <img src="../img/news.svg">
        </div>
    </div>

</div>
</body>
</html>