<head>
    <meta charset="UTF-8">
    <link rel="Stylesheet" type="text/css" href="../CSSs/background.css" />
    <link rel="Stylesheet" type="text/css" href="../CSSs/loggingcss.css" />
    <title>Rejestracja</title>
</head>
<body>
<div class="container">

    <div class="top">
        <img src="../img/top.svg">
        <div class="btn-z">
            <img src="../img/zalSie.svg">
        </div>
    </div>

    <div class="logging-img">
        <img src="../img/human.svg">
    </div>

    <div class="register-view">
        <form>
            <input name="email" type="text" placeholder="Imię">
            <input name="email" type="text" placeholder="Nazwisko">
            <input name="email" type="text" placeholder="Adres e-mail">
            <input name="password" type="password" placeholder="Hasło">
            <div class="checking">
                <input name="chceck" type="checkbox"> regulamin

            </div>

            <img src="../img/go.svg">
        </form>

    </div>


</div>
</body>
</html>