<head>
    <meta charset="UTF-8">
    <link rel="Stylesheet" type="text/css" href="../CSSs/background.css" />
    <link rel="Stylesheet" type="text/css" href="../CSSs/searchcss.css" />
    <title>Wyszukiwanie</title>
</head>
<body>
<div class="container">

    <div class="top">
        <img src="../img/top.svg">
        <div class="btn-z">
            <img src="../img/zalSie.svg">
        </div>
    </div>

    <div class="resutsbox">
        <div class="searchingbox">
            <div class="select">
                <select name="slct" id="lokalizacja">
                    <option>Lokalizacja</option>
                    <option value="1">Zakopane</option>
                    <option value="2">Kraków</option>
                    <option value="3">Warszawa</option>
                    <option value="4">Gdańsk</option>
                </select>
            </div>

            <div class="select">
                <select name="slct" id="termin">
                    <option>Termin</option>
                    <option value="1">30.06-7.07</option>
                    <option value="2">10.07-17.07</option>
                    <option value="3">30.07-6.08</option>
                    <option value="4">20.08-27.08</option>
                </select>
            </div>

            <div class="select">
                <select name="slct" id="typ">
                    <option>Temat</option>
                    <option value="1">Sport</option>
                    <option value="2">Muzyka</option>
                    <option value="3">Plastyka</option>
                    <option value="4">Turystyka</option>
                </select>
            </div>

        </div>
        <div class="result">
            <img src="../img/iconfinder_symbol-help-information-question-helpdesk-info_3937344.svg">
            <img src="../img/wyslijZgl.svg">
        </div>

    </div>

</div>
</body>
</html>